<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up</title>
    <link rel="stylesheet" href="styles/general.css">
    <link rel="stylesheet" href="styles/login.css">
</head>

<body>
    <main class="main-container">
        <div class="login-container">
            <form class="login-form" action="">
                <h1 class="title">Sign up</h1>
                <div class="input-container">
                    <label for="username-input">Username</label>
                    <input id="username-input" type="text">
                </div>
                <div class="input-container">
                    <label for="password-input">Password</label>
                    <input id="password-input" type="password">
                    <p class="navigate">Already have an account? <a href="#">Login</a></p>
                </div>
                <button class="submit" type="submit">Sign up</button>
            </form>
        </div>
    </main>
</body>

</html>