<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>viedo call</title>
    <link rel="stylesheet" href="styles/general.css">
    <link rel="stylesheet" href="styles/videoCall.css">
</head>

<body>
    <div class="main-container">
        <div class="video-call-container">
            <div class="user-container">
                <img src="icons/user.jpg" alt="" class="user-image">
                <div class="user-detail">
                    <h2 class="username">SalarKesha</h2>
                    <span class="user-status">online</span>
                </div>
            </div>
            <div class="video-container-wrapper">
                <div class="video-container">
                    <video src="" class="video-receive" poster="icons/wide.jpg"></video>
                    <video src="" class="video-send"></video>
                </div>
                <div class="options-container">
                    <button class="end-call">
                        <svg fill="none" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                            <path d="m5 5 14 14m-14 0 14-14" stroke="#fff" stroke-linecap="round"
                                stroke-linejoin="round" stroke-width="2" />
                        </svg>
                    </button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>